In [2]:
import pandas as pd
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [3]:
original_sports = pd.Series({
        'Archery' : 'Bhutan',
        'Golf' : 'Scotland',
        'Sumo' : 'Japan',
        'Taekwondo' : 'South Korea'    
    })
cricket_loving_countries = pd.Series(['Australia', 'Barbados', 'Pakistan', 'England'], 
                                    index = ['Cricket', 'Cricket', 'Cricket', 'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [4]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [5]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [6]:
import pandas as pd
purchase_1 = pd.Series({'Name' : 'Chris',
                       'Item Purchased' : 'Dog Food',
                       'Cost' : 22.50})
purchase_2 = pd.Series({'Name' : 'Kevyn',
                       'Item Purchased' : 'Kitty Litter',
                       'Cost' : 2.50})
purchase_3 = pd.Series({'Name' : 'Vinod',
                       'Item Purchased' : 'Bird Seed',
                       'Cost' : 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [7]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [8]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [9]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [24]:
# for the purchase records from the pet store,
# how would you get a list of all items which had been
# purchased regardless of where they might have been
# purchased, or by whom?

# my answer

df.iloc[:, 1]

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [23]:
# tut answer
df = pd.DataFrame([purchase_1, purchase_2, purchase_3],
                  index=['Store 1', 'Store 1', 'Store 2'])
df['Item Purchased']

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object