In [1]:
import pandas as pd

In [3]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [4]:
type(ufo)

pandas.core.frame.DataFrame

In [6]:
ufo.head() #Ithaca!!!

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [11]:
type(ufo['City']) # it is case sensitive

pandas.core.series.Series

In [10]:
type(ufo['Shape Reported'])

pandas.core.series.Series

In [13]:
type(ufo.City) # is the same as type(ufo['City']) -> dot notation version

pandas.core.series.Series

In [17]:
# tab after dot notation gives a dropdown of all possible values\
# note: if the column has a space, dot notation will not work-> use bracket not.
# you must use bracket notation when creating new Series
ufo['Location'] = ufo.City + ', ' + ufo.State

In [19]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"